.cookies-card {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 20%;
    background-color: #242424;
    padding: 1.5em;
}

.cookies-card * {
    color: #fff;
}

.title {
    font-size: 1.6em;
    letter-spacing: 0.4px;
    margin-bottom: 0.5em;
}

.info {
    line-height: 1.4em;
    letter-spacing: 0.4px;
    margin-bottom: 2em;
}

.cta {
    border: none;
    outline: none;
    padding: 0.8em 1.5em;
    background-color: black;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s;
}

.cta:hover {
    background-color: #3c9e66;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

@media only screen and (max-width: 720px) {
    .cookies-card {
        height: 90%;
        width: 90%;
    }
}